.container {
  display: flex;
  flex-wrap: wrap;
  margin-inline: auto;
  width: 400px;

  &-cell {
    width: 20px;
    height: 20px;
    border: 1px solid black;
  }
}

.snake {
   background-color: blue;
}
